# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\study\java\java_ee_lw7\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
